.changeProductAmount {
    text-align: left;
}

.changeProductAmount input {
    margin: 5px 0px;
}

.changeProductAmount .squareButton {
    margin: 0px 2.5px;
}

.fa-save {
    color: lime;
}

.changeProductAmount .centerButtons {
    display: flex;
    justify-content: center;
}
