.top {
  text-align: center;
  display: flex;
  align-content: center;
  background-color: yellow;
  height: 45px;
  width: 100%;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  top: 0pt;
}

.top h1 {
  margin: auto;
}
