.addNewList {
    text-align: left;
}

.addNewList input {
    margin: 5px 0px;
}

.addNewList .squareButton {
    margin: 0px 2.5px;
}

.fa-save {
    color: lime;
}

.addNewList .centerButtons {
    display: flex;
    justify-content: center;
}
