.containerDeleteList {
    height: 41px;
    align-items: center;
    display: flex;
    border: 2.5px solid var(--highlight);
    padding-left: 5px;
    padding-right: 5px;
}

.containerChoice {
    margin-left: auto;
}

.fa-check {
    color: lime;
}

.fa-times {
    color: red;
    margin-left: 5px;
}
