.containerDeleteList {
    height: 45px;
    align-items: center;
    display: flex;
}

.containerChoice {
    margin-left: auto;
}

.containerChoice .squareButton {
    width: 35px;
    height: 35px;
}

.fa-check {
    color: lime;
}

.fa-times {
    color: red;
    margin-left: 5px;
}
